@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    background-color: #e1dede;
}
#header {
    background-color: #3b41f1;
    color: rgb(38, 48, 138);
    padding: 20px;
    text-align: center;
}
#header h1 {
    font-size: 2.5em;
}
#header h1 span {
    color: #ffffff;
}
#header #menu {
    padding-top: 15px;
}
#header #menu a {
    color: #ffffff;
    padding: 10px;
}
#header #menu a:hover {
    background-color: #ffffff;
    color: #4e53c9;
    border-radius: 5px;
}
#content {
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
}
#posts{
    background-color: #ffffff;
    padding: 15px;
    float: left;
    width: 70%;
}
#posts h2 {
    color: rgb(38, 48, 138);
    font-weight: bold;
    font-size: 1.8em  
}
#posts img {
    width: 100%;
}
#posts p, .content-right p {
    text-align: justify;
}
#posts a, .content-right a {
    color: #3b41f1;
}
#right-side{
    float: right;
    width: 28%;
}
.content-right {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 15px;
}
.content-right h3 {
    background-color: #3b41f1;
    color: rgb(190, 197, 255);
    padding: 5px;
    margin-bottom: 10px;
}
.content-right .post-right {
    margin-bottom: 15px;
}
#footer{
    background-color: #ffffff;
    color: rgb(38, 48, 138);
    text-align: center;
    font-weight: bold;
    padding: 15px;
    margin-top: 20px;
    float: left;
    clear: both;
    width: 100%;
}